<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a routerLink="homepage" class="navbar-brand">
            <i class="bx bxs-calendar"></i>
            Nabenik-Test
        </a>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="movie/list">Movies</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
