<div class="container-fluid py-2 bg-secondary">
    <div class="row">
        <div class="col-3">
            <a class="btn btn-primary" (click)="add()">
                <i class="fas fa-plus"></i> Add movie
            </a>
        </div>
    </div>
</div>
<div class="container-fluid col-md-7">
    <div class="row">
        <div class="col">
            <div class="card my-4">
                <div class="card-header">
                    <h4>Movie List</h4>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-sm" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Year</th>
                                <th>Duration</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of movies; let i = index">
                                <td>{{m.movieId}}</td>
                                <td>{{m.title}}</td>
                                <td>{{m.year}}</td>
                                <td>{{m.duration}}</td>
                                <td>
                                    <button (click)="editar(m)" class="btn btn-warning">
                                        <i class="fas fa-edit"></i> Edit
                                    </button>&nbsp;
                                    <button (click)="delete(m)" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal>{{textInfo}}</app-modal>
