/* You can add global styles to this file, and also import other style files */
input,
textarea,
select {
    border-color: #8f8f8f !important;
    --bs-bg-opacity: 1 !important;
    background-color: rgba(70, 67, 67, 0.75) !important;
    --bs-text-opacity: 1 !important;
    color: rgba(255,255,255, 1) !important;
}

.container-responsive {
    height:600px;
    overflow-y:scroll;
}
