<div class="container-fluid py-2 bg-secondary">
    <div class="row">
        <div class="col-3">
            <a class="btn btn-primary btn-block" (click)="backList()">
                <i class="fas fa-long-arrow-left"></i> Back
            </a>
        </div>
    </div>
</div>
<div class="container mt-2 col-md-4">
    <div class="row">
        <div class="col">
            <div class="card my-4">
                <div class="card-header">
                    <h3>Edit movie</h3>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()" #movieForm="ngForm">
                        <div class="form-group">
                            <label for="name">Title:</label>
                            <input [(ngModel)]="movie.title" type="text" class="form-control" name="title" required #nombre="ngModel">
                        </div>
                        <div class="form-group">
                            <label for="name">Year:</label>
                            <input [(ngModel)]="movie.year" type="text" class="form-control" name="year" required #nombre="ngModel">
                        </div>
                        <div class="form-group">
                            <label for="name">Duration:</label>
                            <input [(ngModel)]="movie.duration" type="text" class="form-control" name="duration" required #nombre="ngModel">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success mt-2" [disabled]="!movieForm.form.valid">Save movie</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal>{{textInfo}}</app-modal>
